@using Microsoft.AspNetCore.DataProtection
@using PortailRH.Web.Classes
@using PortailRH.BLL.Dtos.Authentification

@inject IDataProtectionProvider DataProtectionProvider

@{
    var user = Context.Request.HttpContext.Session.GetEncryptedObject<UserDto>("LoggedInUser", DataProtectionProvider.CreateProtector("LoginDtoProtection"));
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>Portail RH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Portail RH">
    <meta charset="UTF-8">
    <!--FontAwesom-->
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link type="text/css" href="~/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="~/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/css/volt.css" rel="stylesheet">
    <link type="text/css" href="~/css/style.css" rel="stylesheet">

    @RenderSection("Styles", false)
    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>
    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
    <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
        <a class="navbar-brand me-lg-5" href="../../index.html">
            <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Volt logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Volt logo" />
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
        <div class="sidebar-inner px-4 pt-3">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                <div class="d-flex align-items-center">
                    <div class="avatar-lg me-4">
                        <img src="~/images/EmployeImages/@user.Photo" class="card-img-top rounded-circle border-white"
                             alt="@string.Concat(@user.Nom, " ", @user.Prenom)">
                    </div>
                    <div class="d-block">
                        <h2 class="h5 mb-3">Hi, Jane</h2>
                    </div>
                </div>
                <div class="collapse-close d-md-none">
                    <a href="#sidebarMenu" data-bs-toggle="collapse"
                       data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                       aria-label="Toggle navigation">
                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </div>
            <ul class="nav flex-column pt-3 pt-md-0">
                <li class="nav-item">
                    <a href="/" class="nav-link d-flex align-items-center">
                        <span class="sidebar-icon">
                            <img src="~/images/PortailRh/PortailRH_Logo.png" height="20" width="20" alt="Volt Logo">
                        </span>
                        <span class="mt-1 ms-1 sidebar-text">Portail RH</span>
                    </a>
                </li>
                <li class="nav-item active " id="navDashboard">
                    <a href="../../pages/dashboard/dashboard.html" class="nav-link">
                        <span class="sidebar-icon">
                            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                        </span>
                        <span class="sidebar-text">Dashboard</span>
                    </a>
                </li>
                <li id="employeNavContainer" class="nav-item">
                    <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                          data-bs-toggle="collapse" data-bs-target="#submenu-app">
                        <span>
                            <span class="sidebar-icon">
                                <i class="fa-solid fa-user-group" style="color: #9ca3af;"></i>
                            </span>
                            <span class="sidebar-text">Employés</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                    </span>
                    <div class="multi-level collapse "
                         role="list" id="submenu-app" aria-expanded="false">
                        <ul class="flex-column nav">
                            <li class="nav-item empNavLink" id="navListEmployes">
                                <a class="nav-link" href="/Employe">
                                    <span class="sidebar-text">Liste des Employés</span>
                                </a>
                            </li>
                            <li class="nav-item empNavLink" id="navNouvelEmploye">
                                <a class="nav-link" href="/Employe/NouvelEmploye">
                                    <span class="sidebar-text">Nouvel Employé</span>
                                </a>
                            </li>
                            <li class="nav-item empNavLink" id="navAnciensEmployes">
                                <a class="nav-link" href="/Employe/AnciensEmployes">
                                    <span class="sidebar-text">Anciens Employés</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item" id="navRecrutement">
                    <a href="/Recrutement" class="nav-link">
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-user-plus" style="color: #9ca3af;"></i>
                        </span>
                        <span class="sidebar-text">Recrutement</span>
                    </a>
                </li>
                
                <li id="congeNavContainer" class="nav-item">
                    <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                          data-bs-toggle="collapse" data-bs-target="#conge-app">
                        <span>
                            <span class="sidebar-icon">
                                <i class="fa-solid fa-compass" style="color: #9ca3af;"></i>
                            </span>
                            <span class="sidebar-text">Congé</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </span>
                    </span>
                    <div class="multi-level collapse "
                         role="list" id="conge-app" aria-expanded="false">
                        <ul class="flex-column nav">
                            <li class="nav-item congeNavLink" id="navConges">
                                <a class="nav-link" href="/Conge">
                                    <span class="sidebar-text">Congés</span>
                                </a>
                            </li>
                            <li class="nav-item congeNavLink" id="navDemandesConges">
                                <a class="nav-link" href="/Conge/DemandesConges">
                                    <span class="sidebar-text">Demandes Congés</span>
                                </a>
                            </li>
                            <li class="nav-item congeNavLink" id="navTousLesConges">
                                <a class="nav-link" href="/Conge/TousLesConges">
                                    <span class="sidebar-text">Tous Les Congés</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item" id="navAbsence">
                    <a href="/Absence" class="nav-link">
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-clock" style="color: #9ca3af;"></i>
                        </span>
                        <span class="sidebar-text">Absence</span>
                    </a>
                </li>

                <li class="nav-item" id="navPresence">
                    <a href="/Presence" class="nav-link">
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-check-double" style="color: #9ca3af;"></i>
                        </span>
                        <span class="sidebar-text">Présence</span>
                    </a>
                </li>

                <li class="nav-item" id="navDemandeDocuments">
                    <a href="/DemandeDocument" class="nav-link">
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-folder" style="color: #9ca3af;"></i>
                        </span>
                        <span class="sidebar-text">Demandes Documents</span>
                    </a>
                </li>

                <li class="nav-item" id="navAnnonce">
                    <a href="/Annonce" class="nav-link">
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-bell" style="color: #9ca3af;"></i>
                        </span>
                        <span class="sidebar-text">Annonces</span>
                    </a>
                </li>

                <li class="nav-item" id="navPaiement">
                    <a href="/Paiement" class="nav-link">
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-money-bill-wave" style="color: #9ca3af;"></i>
                        </span>
                        <span class="sidebar-text">Paiements</span>
                    </a>
                </li>
                
                <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
                
                <li class="nav-item">
                    <a href="/Home/Deconnecter" class="nav-link d-flex align-items-center">
                        <span class="sidebar-icon">
                            <i class="fa-solid fa-right-from-bracket" style="color: #9ca3af;"></i>
                        </span>
                        <span class="sidebar-text">Déconnecter</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="content">

        <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0 mb-5">
            <div class="container-fluid px-0 justify-content-end">
                <div class="d-flex"S>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item dropdown ms-lg-3">
                            <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="media d-flex align-items-center">
                                    <img class="avatar rounded-circle" alt="Image placeholder" src="~/images/EmployeImages/@user.Photo">
                                    <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                                        <span class="mb-0 font-small fw-bold text-gray-900" id="userFullName">@string.Concat(user.Nom, " ", user.Prenom)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        @RenderBody()

        <footer class="bg-white rounded shadow p-5 mb-4 mt-4">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
                    <p class="mb-0 text-center text-lg-start">© 2019-<span class="current-year"></span> <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
                </div>
                <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
                    <!-- List -->
                    <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/about">About</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/themes">Themes</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/blog">Blog</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>

    <!--JQuery-->
    <script src="~/js/jquery-3.7.0.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!--BootStrap-->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Core -->
    <script src="~/vendor/popperjs/core/dist/umd/popper.min.js"></script>

    <!-- Vendor JS -->
    <script src="~/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="~/vendor/nouislider/dist/nouislider.min.js"></script>

    <!-- Smooth scroll -->
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Charts -->
    <script src="~/vendor/chartist/dist/chartist.min.js"></script>
    <script src="~/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

    <!-- Datepicker -->
    <script src="~/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Sweet Alerts 2 -->
    <script src="~/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Moment JS -->
    <script src="~/js/voltDashboard.min.js"></script>
    
    <!-- Vanilla JS Datepicker -->
    <script src="~/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Notyf -->
    <script src="~/vendor/notyf/notyf.min.js"></script>

    <!-- Simplebar -->
    <script src="~/vendor/simplebar/dist/simplebar.min.js"></script>

    <!-- Volt JS -->
    <script src="~/assets/js/volt.js"></script>

    <!--Script to active the current nav item-->
    <script>
        $(document).ready(function () {
            // Retrieve the active item from local storage
            const activeItem = localStorage.getItem("activeNavItem");
            var empNavActiveLink = localStorage.getItem("empNavActiveLink");
            var congeNavActiveLink = localStorage.getItem("congeNavActiveLink");

            // If an active item is found, apply the active state
            if (activeItem) {
                $(".nav-item").removeClass("active");

                $("#" + activeItem).addClass("active");
                
                if (activeItem == "employeNavContainer") {
                    $('#submenu-app').addClass('show');
                    
                    if (empNavActiveLink != null && empNavActiveLink != '') {
                        $(".nav-item").removeClass("active");
                        $("#" + empNavActiveLink).addClass("active");
                    }

                } else {
                    $('#submenu-app').removeClass('show');
                }


                if (activeItem == "congeNavContainer") {
                    $('#conge-app').addClass('show');

                    if (congeNavActiveLink != null && congeNavActiveLink != '') {
                        $(".nav-item").removeClass("active");
                        $("#" + congeNavActiveLink).addClass("active");
                    }

                } else {
                    $('#conge-app').removeClass('show');
                }
            }
            
            // Add click event listeners to navigation items
            $(".nav-item").click(function () {
                if ($(this).attr('id') != undefined) {
                    localStorage.setItem("activeNavItem", $(this).attr("id"));
                } else {
                    localStorage.setItem("activeNavItem", "navDashboard");
                }
            });

            $('.empNavLink').click(function () {
                localStorage.setItem("empNavActiveLink", $(this).attr("id"));
            });

            $('.congeNavLink').click(function () {
                localStorage.setItem("congeNavActiveLink", $(this).attr("id"));
            });
        });
    </script>

    @RenderSection("Scripts", false)

</body>

</html>
