@using PortailRH.BLL.Dtos.Dashboard
@model ICollection<EmployeChartDataDto>

@{
    ViewBag.Title = "Dashboard";
}

@if (TempData["SuccessMessage"] != null)
{
    <span id="successMessage" class="d-none">@TempData["SuccessMessage"]</span>
}

@if (TempData["ErrorMessage"] != null)
{
    <span id="errorMessage" class="d-none">@TempData["ErrorMessage"]</span>
}

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow p-4">
            <canvas id="myChart" style="width:100%;"></canvas>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <i class="fa-solid fa-clock" style="font-size: 25px; color: #f0bc74;"></i>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="h5">Absence</h2>
                            <h3 class="fw-extrabold mb-1">
                                @if (ViewBag.StatisticData != null)
                                {
                                    @ViewBag.StatisticData.Absences
                                }
                            </h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Absence</h2>
                            <h3 class="fw-extrabold mb-2">
                                @if (ViewBag.StatisticData != null)
                                {
                                    @ViewBag.StatisticData.Absences
                                }
                            </h3>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">
                            Ce mois-ci
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <i class="fa-solid fa-money-bill-wave" style="font-size: 25px; color: #f0bc74;"></i>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="fw-extrabold h5">Paiements</h2>
                            <h3 class="mb-1">
                                @if (ViewBag.StatisticData != null)
                                {
                                    @ViewBag.StatisticData.Paiements
                                }
                            </h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Paiements</h2>
                            <h3 class="fw-extrabold mb-2">
                                @if (ViewBag.StatisticData != null)
                                {
                                    @ViewBag.StatisticData.Paiements
                                }
                            </h3>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">
                            Cette année
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                            <i class="fa-solid fa-user-group" style="font-size: 25px; color: #f0bc74;"></i>
                        </div>
                        <div class="d-sm-none">
                            <h2 class="fw-extrabold h5"> Total employés</h2>
                            <h3 class="mb-1">
                                @if (ViewBag.StatisticData != null)
                                {
                                    @ViewBag.StatisticData.TotalEmployes
                                }
                            </h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0"> Total employés</h2>
                            <h3 class="fw-extrabold mb-2">
                                @if (ViewBag.StatisticData != null)
                                {
                                    @ViewBag.StatisticData.TotalEmployes
                                }
                            </h3>
                        </div>
                        <small class="text-gray-500">
                            Tout le temps
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-gray'
            },
            buttonsStyling: false
        });

        //Show Success Alert After Employee Has Been Added
        ShowSuccessAlert();
        function ShowSuccessAlert() {
            // Check if the message div exists
            const successMessage = $('#successMessage').text();
            if (successMessage != null && successMessage != '') {

                swalWithBootstrapButtons.fire({
                    icon: 'success',
                    title: 'Succès',
                    text: successMessage,
                    showConfirmButton: true,
                    timer: 5000
                })
            }
        }

        //Show Error Alert If the Employee Wasn't Added
        ShowErrorAlert();
        function ShowErrorAlert() {
            // Check if the message div exists
            const errorMessage = $('#errorMessage').text();
            if (errorMessage != null && errorMessage != '') {

                swalWithBootstrapButtons.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: errorMessage,
                })
            }
        }

        //Chart Main Data
        var chartData = @Html.Raw(Json.Serialize(Model));
        
        const xValues = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
        var mainData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 , 0];

        for (var i = 0; i < chartData.length; i++) {
            mainData[chartData[i].month - 1] = chartData[i].employeeCount;
        }
        
        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    data: mainData,
                    borderColor: "#f0bc74",
                    fill: true,
                    backgroundColor: "#ffeacd",
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Nouveaux Employés Par Mois"
                }
            }
        });
    </script>
}